ul{
	list-style-type: none;
	text-align: center;

}
ul li{
	display: inline;
	color: white;

}


header{
	text-align: left;
	color: white;
}
ul li a{
	text-decoration:none;
	color: black;
	font-size: 40px;
	padding-left: 60px;
	background-color: orange;
	padding-right: 60px;
	transition:0.4s;
	border: solid 5px white;
	border-radius: 12px;

}
ul li a:hover{
	text-decoration:none;
	color: white;
	font-size: 40px;
	padding-left: 60px;
	background-color: orange;
	padding-right: 60px;
	transition:0.4s;
	border: white solid 11px;
	}
body{
	
	background-image: url(c1.jpg);
	background-size: cover;
}
